@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source './components/btn.css';
@source './components/form.css';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-background: #f3f4f6;
    --color-foreground: #1f2937;
    --color-card: #ffffff;
    --color-primary: #0f172a;
    --color-primary-foreground: #ffffffff;
    --color-border: #e5e7eb;
    --color-input: #e5e7eb;
    --color-muted-foreground: #9ca3af;
    --color-ring: #0f172a;

}